@font-face {
    font-family: 'HK-Grotesk-Bold';
    src: url('HKGrotesk-Bold.woff2') format('woff2'),
      url('HKGrotesk-Bold.woff') format('woff'),
      url('HKGrotesk-Bold.ttf') format('truetype');
    font-weight: normal;
  }
  
  @font-face {
    font-family: 'HK-Grotesk-Medium';
    src: url('HKGrotesk-Medium.woff2') format('woff2'),
      url('HKGrotesk-Medium.woff') format('woff'),
      url('HKGrotesk-Medium.ttf') format('truetype');
    font-weight: normal;
  }
  
  @font-face {
    font-family: 'HK-Grotesk-Regular';
    src: url('HKGrotesk-Regular.woff2') format('woff2'),
      url('HKGrotesk-Regular.woff') format('woff'),
      url('HKGrotesk-Regular.ttf') format('truetype');
    font-weight: normal;
  }
  
  .regular {
    font-family: 'HK-Grotesk-Regular', sans-serif;
  }
  
  .medium {
    font-family: 'HK-Grotesk-Medium', sans-serif;
  }
  
  .bold {
    font-family: 'HK-Grotesk-Bold', sans-serif;
  }
  
  html,
  input {
      /* this smooths our fonts nicely on higher density screens */
    -webkit-font-smoothing: antialiased;
  }
  